.spinner {
  color: #262626;
  font-size: 10px;
  margin: 0 auto;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(96vh / 2);

  &,
  &:before,
  &:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bubble 1.8s infinite ease-in-out;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
  }
  &:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  &:after {
    left: 3.5em;
  }
}

@keyframes bubble {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
