.messageInput {
    background: #ffffff;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 1200px;
    width: 100%;
    height: 50px;
    margin-top: 5px;
    padding: 5px 40px;
    display: flex;
    justify-content: center;
    min-width: 600px;

    textarea {
        overflow: none;
        outline: none;
        width: 90%;
        height: 100%;
        border: none;
        box-sizing: border-box;
        resize: none;
        font-size: 14px;
        line-height: 16px;
        padding-top: 11px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        height: 100%;
        opacity: 0.5;
    }
}
